@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<HospitaAppointmentSystem.Data.Doctor>

    
    <div class="container">
        <h2>@_localization.Getkey("Doctors").Value</h2>
        @if(Model!=null && Model.Any())
        {
            <div class="row">
                @foreach (var doctor in Model)
                {
                    <div class="col-md-4">
                        <div class="card">
                            <a href="@Url.Action("CreateAppointment","Appointment")"><img class="card-img-top" src="~/img/@doctor.Image"></a>
                            <div class="card-body">
                                <h5 class="card-title">@doctor.DocName</h5>
                                <p class="card-text">@doctor.DocSpeacialty</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <p>Errrrrrooooorrrr</p>
        }
        
    </div>
    
    
