@model Appointment

<p>
    Do you want to delete the Appointment?
    <form asp-action="DeleteAppointment" method="post">
        <input type="hidden" value="@Model.AppointmentId" name="id">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a asp-action="IndexAppointment" class="btn btn-primary">No</a>
    </form> 
</p>