@model Appointment

<h2>Edit Appointment</h2>
<hr>
<form asp-controller="Appointment" asp-action="EditAppointment" method="post">
    <input type="hidden" asp-for="AppointmentId">
    
    
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (var modelState in ViewData.ModelState.Values)
                {
                    @foreach (var error in modelState.Errors)
                    {
                        <li>@error.ErrorMessage</li>
                    }
                }
            </ul>
        </div>
    }

    <div class="mb3">
        <input type="hidden" asp-for="DoctorId">
        <label  class="form-label">Doctor Name</label>
        <select asp-for="DoctorId" asp-items="ViewBag.Doctors" class="form-control">
            <option value="">Choose</option>
        </select>
    </div>

    <div class="mb3">
        <input type="hidden" asp-for="PatientId">
        <label  class="form-label">Patient Name</label>
        <select asp-for="PatientId" asp-items="ViewBag.Patients" class="form-control">
            <option value="">Choose</option>
        </select>
    </div>
    
    <div class="mb3">
        <label asp-for="AppointmentDate" class="form-label">Appointment Date</label>
        <input asp-for="AppointmentDate" type="date" class="form-control">
    </div>

    <div class="mb3">
        <!-- Tarih seçimi için input -->
        <select asp-for="AppointmentTime" asp-items="ViewBag.AvailableTimes" class="form-control"></select>
    </div>
    <button type="submit" class="btn btn-secondary">Save</button>
</form>